# ================================
# 📌 Identidade da aplicação
# ================================
APP_NAME="FastAPI Template"
DESCRIPTION="Template para APIs python com FastAPI"
ENVIRONMENT=development   # development | production | testing

# ================================
# ⚙️ Configurações do servidor
# ================================
HOST=0.0.0.0
PORT=8000
DEBUG=False

# ================================
# 🌍 CORS 
# ================================
ALLOWED_ORIGINS=["*"]
ALLOWED_CREDENTIALS=True
ALLOWED_METHODS=["*"]
ALLOWED_HEADERS=["*"]